/* PREV/NEXT BUTTONS --------------------------------------------------------------*/
body > .container-fluid > main > div:nth-child(3),
body > .container-fluid > main > table + div {
    margin-top: 15px;
}
body > .container-fluid > main > div:nth-child(3) button,
body > .container-fluid > main > table + div button {
    min-width: 40%;
}