/* SEARCH BAR ---------------------------------------------------------------------*/
/* LABEL --------------------------------------------------------------------------*/
body > .container-fluid > main > div:nth-child(1) > div > label {
    margin: 0px;
}
/* INPUT --------------------------------------------------------------------------*/
body > .container-fluid > main > div:nth-child(1) > div > .input-group > input {
    overflow: hidden;
    text-overflow: ellipsis;
}