/* MAIN CONTENT -------------------------------------------------------------------*/
body > .container-fluid > main {
    min-height: 75vh;
}

/* FOOTER & HEADER ----------------------------------------------------------------*/
body > .container-fluid > header > nav {
    min-height: 10vh;
    margin-bottom: 15px;
}
body > .container-fluid > footer > nav {
    min-height: 10vh;
    margin-top: 15px;
}
body > .container-fluid > header > nav, body > .container-fluid > footer > nav {
    padding: 15px;
    background-color: gold;
}
body > .container-fluid > header > .row:nth-child(2) {
    padding: 3% 3% 0 3%;
}
    /* NAVBAR ---------------------------------------------------------------------*/
    body > .container-fluid > header > nav > div:nth-child(1) > a > img {
        max-height: 100px;
        max-width: 100%;
    }
    body > .container-fluid > header > nav > div:nth-child(2) {
        text-align: end;
    }
        /* LINK BUTTON ------------------------------------------------------------*/
        body > .container-fluid > header > nav > div:nth-child(2) > a,
        body > .container-fluid > header > nav > div:nth-child(2) > .dropdown > button {
            font-size: 11px;
            box-sizing: border-box;
            margin: 0 1%;
            padding: 10px;
            font-weight: bold;
            border: 1px solid black;
            color:black;
        }
        body > .container-fluid > header > nav > div:nth-child(2) > a:hover,
        body > .container-fluid > header > nav > div:nth-child(2) > .dropdown > button:hover {
            text-decoration: none;
            border: 3px solid black;
        }
    /* TITLE ----------------------------------------------------------------------*/
    body > .container-fluid > header > div > div > h1 {
        font-size: xx-large;
        text-align: center;
    }

    /* CONDITION & PRIVACY LINK ---------------------------------------------------*/
    body > .container-fluid > footer > nav > div > a {
        color:black;
    }
    body > .container-fluid > footer > nav > div > a:hover {
        text-decoration: none;
        font-weight: bold;
        color:black;
    }
    /* PRIVACY TEXT ---------------------------------------------------------------*/
    body > .container-fluid > footer > nav > div:nth-child(2) {
        text-align: center;
    }
    /* COPYRIGHT TEXT -------------------------------------------------------------*/
    body > .container-fluid > footer > nav > div > p {
        margin: 0;
        text-align: end;
    }
/*---------------------------------------------------------------------------------*/

/* Tablet[orientation:landscape] & Desktop */
@media screen and (min-width: 992px) {
    /* LINK BUTTON ----------------------------------------------------------------*/
    body > .container-fluid > header > nav > div:nth-child(2) > a,
    body > .container-fluid > header > nav > div:nth-child(2) > .dropdown > button {
        font-size: medium;
    }
}