/* PRODUCT LIST -------------------------------------------------------------------*/
/* PRODUCT ------------------------------------------------------------------------*/
body > .container-fluid > main > div:nth-child(2) > article {
    padding: 0px;
    margin: 3px 15px 0px 15px;
    border: 1px solid black;
}
body > .container-fluid > main > div:nth-child(2) > article:hover {
    border: 3px solid black;
}
    /* PRODUCT IMAGE --------------------------------------------------------------*/
    body > .container-fluid > main > div:nth-child(2) > article > .row > aside > img {
        margin: 15px 0;
        max-width: 100%;
    }
    /* PRODUCT INFO ---------------------------------------------------------------*/
    body > .container-fluid > main > div:nth-child(2) > article > .row > div {
        padding: 15px;
    }
        /* PRODUCT DESCRIPTION ----------------------------------------------------*/
        body > .container-fluid > main > div:nth-child(2) > article > .row > div > header > h2,
        body > .container-fluid > main > div:nth-child(2) > article > .row > div > p
        {
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3%;
            font-size: 18px;
            color:black;
        }
        body > .container-fluid > main > div:nth-child(2) > article > .row > div > p {
            font-size: 14px;
        }
        body > .container-fluid > main > div:nth-child(2) > article > .row > div > header > h2,
        body > .container-fluid > main > div:nth-child(2) > article > .row > div > p:last-of-type {
            font-size: 18px;
        }
        /* PRODUCT BUTTONS --------------------------------------------------------*/
        body > .container-fluid > main > div:nth-child(2) > article > .row > div > footer > .row {
            margin: 3%;
        }
        body > .container-fluid > main > div:nth-child(2) > article > .row > div > footer > .row .btn {
            font-size: 14px;
        }
            /* PRODUCT LINK ---------------------------------------------------*/
            body > .container-fluid > main > div:nth-child(2) > article > .row > div > footer > .row a {
                margin-top: 3px;
            }
/*---------------------------------------------------------------------------------*/

/* Tablet[orientation:landscape] & Desktop */
@media screen and (min-width: 992px) {
    /* PRODUCT IMAGE --------------------------------------------------------------*/
    body > .container-fluid > main > div:nth-child(2) > article > .row > aside {
        max-width: 255px;
    }
    body > .container-fluid > main > div:nth-child(2) > article > .row > aside > img {
        margin: 0;
        max-width: 100%;
    }
}