body > .container-fluid > main > div:first-child {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

body > .container-fluid > main > div > div > h2 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

/* Tablet[orientation:landscape] & Desktop */
@media screen and (min-width: 992px) {
    body > .container-fluid > main > div > div > h2 {
        font-size: x-large;
    }
}
