body > .container-fluid > main div.modal div.col-lg-9,
body > .container-fluid > main > div > form fieldset:nth-child(3) div,
body > .container-fluid > main > div div.col-lg-3,
body > .container-fluid > main > div div.col-9 {
    align-self: center;
}

body > .container-fluid > main > div div.col-lg-3 p {
    margin: 0;
}

body > .container-fluid > main > div > form fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2% 1% 2%;
    margin-top: 2%;
}

body > .container-fluid > main > div > form fieldset > legend {
    border: 1px solid black;
    border-radius: 5px;
    background: gainsboro;
    padding-left: 1%;
}

body > .container-fluid > main > div > form fieldset aside {
    align-self: center;
}

body > .container-fluid > main > div > form fieldset:nth-child(2) > div {
    padding-top: 1%;
}