body > .container-fluid > main > div {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1%;
}

body > .container-fluid > main > div:nth-child(3) {
    border-top: 1px solid black;
}

body > .container-fluid > main > div:nth-child(1),
body > .container-fluid > main > div:nth-child(2) {
    border: none;
}

body > .container-fluid > main > div:last-child {
    margin-bottom: 5%;
}

body > .container-fluid > main > div.row {
    margin-left: 0px;
    margin-right: 0px;
}

body > .container-fluid > main > div:nth-child(1) figure img {
    max-width: 100%;
}

body > .container-fluid > main > div:nth-child(3) > div > h3,
body > .container-fluid > main > div:nth-child(3) > article > form div > div > h5 {
    margin: 0;
}

/* STAR PIRCKER ----------------------------------------------------------------------------------------------------*/
body > .container-fluid > main > div > div,
body > .container-fluid > main > div > article > div > div,
body > .container-fluid > main > div:nth-child(3) > article > form div > div {
    align-self: center;
}

body > .container-fluid > main > div > div > div > fieldset > div > input[type="radio"],
body > .container-fluid > main > div > article > div > div > div > fieldset > div > input[type="radio"],
body > .container-fluid > main > div:nth-child(3) > article fieldset > div > input[type="radio"] { 
    clip-path: circle(0%);
}
body > .container-fluid > main > div > div > div > fieldset > div > label[for]:hover,
body > .container-fluid > main > div > article > div > div > div > fieldset > div > label[for]:hover,
body > .container-fluid > main > div:nth-child(3) > article fieldset > div > label[for]:hover
{
    cursor: pointer;
}

body > .container-fluid > main > div > div > div > fieldset > div > .rating-input,
body > .container-fluid > main > div > div > div > fieldset > div > .rating-label{
    float: right;
}

body > .container-fluid > main > div > div > div > fieldset > div > .rating-label,
body > .container-fluid > main > div > article > div > div > div > fieldset > div > .rating-label,
body > .container-fluid > main > div:nth-child(3) > article fieldset > div > .rating-label {
    color: lightgray;
}

body > .container-fluid > main > div > div > div > fieldset > div > .rating-label {
    font-size: larger;
}

body > .container-fluid > main > div > article > div > div > div > fieldset > div > .rating-label {
    font-size: large;
}

body > .container-fluid > main > div:nth-child(3) > article fieldset > div > .rating-input:focus + .rating-label,
body > .container-fluid > main > div:nth-child(3) > article fieldset > div > .rating-input:hover + .rating-label {
    text-shadow: 0 0 1px #000;
}

body > .container-fluid > main > div > div > div > fieldset > div > .rating-input:not([disabled]):focus ~ .rating-label,
body > .container-fluid > main > div:nth-child(3) > article fieldset > div > .rating-input:not([disabled]):focus ~ .rating-label,
.rating-input:not([disabled]):hover ~ .rating-label {
    color: orange;
}
/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 992px) {
    body > .container-fluid > main > div > div > div > fieldset > div,
    body > .container-fluid > main > div > article > div > div > div > fieldset > div,
    body > .container-fluid > main > div:nth-child(3) > article fieldset > div {
    float: right;
}
}