/* Tablet[orientation:landscape] & Desktop */
@media screen and (min-width: 992px) {
    /* PRODUCT BUTTONS ------------------------------------------------------------*/
    body > .container-fluid > main > section:nth-child(2) > article > .row > section > footer > .row .btn {
        width: 110%;
    }
}