body > .container-fluid > main > div .form-group {
    margin-bottom: 2rem;
}

body > .container-fluid > main > div > form > fieldset {
    border: 1px solid black;
    padding: 5%;
    margin-top: 5%;
    border-radius: 5px;
}

body > .container-fluid > main > div > form > fieldset div {
    align-self: center;
}

body > .container-fluid > main > div > form > fieldset div:last-child {
    margin-bottom: 0;
}

body > .container-fluid > main > div > form > fieldset > div:nth-child(2) span.input-group-append {
    margin-left: -3px;
}

body > .container-fluid > main > div:first-child figure > img {
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    body > .container-fluid > main > div > form > fieldset {
        margin-top: 16%;
    }
}